@import "tailwindcss";

* {}

body {}

footer {
    height: 65vh;
}


@media (max-width: 576px) {
    * {
        max-width: 576px;
    }

     footer {
        height: auto;
        padding: 2rem;
    }

    footer h4 {
        font-size: 1rem !important;
    }

    footer h1 {
        font-size: 1rem !important;
    }

    #ftrInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}